services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

    container_name: arxiv-backend

    ports:
      - "8000:8000"

    env_file:
      - ./backend/.env

    volumes:
      - ./backend/data:/app/data
      - ./backend/logs:/app/logs

    restart: unless-stopped

    # cleaner shutdowns
    stop_grace_period: 10s
